<div class="data-grid" data-test-grid>
    <div class="data-grid__summary">
        <div aria-live="polite">Selected <span data-test-selected-count>{{this.selectedCount}}</span></div>
        <div>
            <ButtonDownload @onClick={{this.downloadFiles}}>Download Selected</ButtonDownload>
        </div>
    </div>
    <div class="data-grid__table-wrapper">
        <table class="data-grid__table" data-test-grid-table>
            <thead class="data-grid__header">
                <tr class="data-grid__header-row">
                    <th class="data-grid__header-cell">
                        <div class="data-grid__select-all">
                            {{!-- Note: select all control inside grid for accessibility and labeling, this differs from design spec --}}
                            <Input
                                data-test-grid-select-all
                                class="data-grid__checkbox"
                                @type="checkbox"
                                @checked={{this.allSelected}}
                                indeterminate={{this.isIndeterminateSelected}}
                                aria-label={{if this.allSelected "Deselect all rows" "Select all rows"}}
                            />
                        </div>
                    </th>
                    <th class="data-grid__header-cell">Name</th>
                    <th class="data-grid__header-cell">Device</th>
                    <th class="data-grid__header-cell">Path</th>
                    <th class="data-grid__header-cell">
                        <span class="data-grid__header-status">Status</span>
                    </th>
                </tr>
            </thead>
            <tbody class="data-grid__body" data-test-grid-table-body>
                {{#each @content as |file|}}
                    <GridRow @selectedFileIds={{this.selectedFileIds}} @selectFile={{this.selectFile}} @file={{file}} />
                {{/each}}
            </tbody>
        </table>
    </div>
</div>