<div>
    <div class="data-grid__summary">
        <div>{{this.selectedCount}} Selected</div>
        <div>
            <button class="button--primary" type="button" {{on "click" (fn this.downloadFiles)}}>Download Selected</button>
        </div>
    </div>
    <table class="data-grid__table" role="grid">
        <thead class="data-grid__header">
            <tr class="data-grid__header-row">
                <th class="data-grid__header-cell">
                    <div class="data-grid__select-all">
                        <Input
                            @type="checkbox"
                            @checked={{this.allSelected}}
                            indeterminate={{this.isIndeterminateSelected}}
                        />
                    </div>
                </th>
                <th class="data-grid__header-cell">Name</th>
                <th class="data-grid__header-cell">Device</th>
                <th class="data-grid__header-cell">Path</th>
                <th class="data-grid__header-cell">Status</th>
            </tr>
        </thead>
        <tbody class="data-grid__body">
            {{#each @content as |file|}}
                <GridRow @selectedFileIds={{this.selectedFileIds}} @selectFile={{this.selectFile}} @file={{file}} />
            {{/each}}
        </tbody>
    </table>
</div>